
@font-face {
  font-family: JosefinSans;
  src:url("./Josefin_Sans/static/JosefinSans-Light.ttf"),
  url("./Josefin_Sans/static/JosefinSans-ExtraLight.ttf") format("ttf");
      
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter-VariableFont_slnt";
}

.home .homeaslmai {
  width: 375px;
  height: 600px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
}
.card12 {
  display: flex;
  justify-content: center;
}
.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.photo {
  text-align: center;
  margin-top: 10px;
}
.photo img {
  border-radius: 50%;
  width: 30%;
}
.header {
  margin-top: 10px;
  color: white;
  padding: 10px;
  text-align: center;
}
.header h5 {
  color: hsl(75, 80%, 47%);
  margin-top: 8px;
}
.info {
  margin-top: 15px;
}
.info p {
  color: white;
  font-size: 13px;
}
.link {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.link input {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 10px;

}

.link input{
  background-color: hsl(0, 0%, 20%);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.link input:hover {
  background-color: hsl(180, 14%, 69%);
  color: black;
}
.attribution{
  position: absolute;
  bottom: 0;
  color: white;
}
.attribution a{
  color: rgb(255, 8, 8);
  font-size: 13px;
}

@media (max-width:410px) {
    
.home .home-container {
    width: 350px;
    height: 600px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
  }

    
}

@media (max-width:388px) {
    
    .home .home-container {
        width: 330px;
        height: 600px;
        border-radius: 10px;
        background-color: hsl(0, 0%, 12%);
      }
    
        
    }
    
@media (max-width:350px) {
    
    .home .home-container {
        width: 310px;
        height: 600px;
        border-radius: 10px;
        background-color: hsl(0, 0%, 12%);
      }
    
        
    }
